<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  cacheDirectory=".phpunit.cache"
  failOnDeprecation="false"
  failOnPhpunitDeprecation="false"
  failOnNotice="false"
  failOnWarning="false"
  stopOnError="false"
  stopOnFailure="false"
>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
      <exclude>./tests/Unit/Listeners</exclude>
      <exclude>./tests/Unit/Models/Tenants/ProductTest.php</exclude>
      <exclude>./tests/Unit/Services/Tenants/StockServiceTest.php</exclude>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
      <exclude>./tests/Feature/E2E/CompleteSaleFlowTest.php</exclude>
      <exclude>./tests/Feature/E2E/CorePaymentFlowE2ETest.php</exclude>
      <exclude>./tests/Feature/E2E/FeatureAccessE2ETest.php</exclude>
      <exclude>./tests/Feature/E2E/FileUploadE2ETest.php</exclude>
      <exclude>./tests/Feature/E2E/MemberE2ETest.php</exclude>
      <exclude>./tests/Feature/E2E/OfflineModeTest.php</exclude>
      <exclude>./tests/Feature/E2E/PaymentE2ETest.php</exclude>
      <exclude>./tests/Feature/E2E/PlanE2ETest.php</exclude>
      <exclude>./tests/Feature/E2E/PlanFeatureResolveE2ETest.php</exclude>
      <exclude>./tests/Feature/E2E/ProfilePhotoUploadE2ETest.php</exclude>
      <exclude>./tests/Feature/E2E/StockOpnameE2ETest.php</exclude>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <server name="CACHE_DRIVER" value="array"/>
    <env name="DB_CONNECTION" value="testing"/>
    <env name="DB_TESTING_DRIVER" value="sqlite"/>
    <env name="DB_DATABASE_TESTING" value=":memory:"/>
    <env name="APP_CENTRAL_DOMAIN" value="localhost"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
  </php>
  <logging>
    <junit outputFile="reports/junit.xml"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
